* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
}

.form {
    position: relative;
    width: 33rem;
    height: auto;
    padding: 2rem;
    background: #1f1f1f;
}

.input_container {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: #1f1f1f;
        /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.461); */
}

.input_container::before {
    position: absolute;
    content: "";
    height: 30%;
    width: 0.12rem;
    left: 16%;
    border-radius: 0.5rem;
    background: #707070;
}

.input_container .input_field {
    position: relative;
    max-height: 4.2rem;
    padding: 1.8rem 2.5rem;
    padding-left: 5rem !important;
    border: 0.15rem solid rgb(68, 68, 68);
    color: #d2d2d2;
    outline: none;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    background: transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.input_container label {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    color: #999999;
    padding: 0 0.3rem;
    user-select: none;
}

#email_icon {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 1.2rem;
}

.input_field:focus+label {
    top: 0%;
    left: 7%;
    background-color: #1f1f1f;
    color: #d2d2d2;
}

.input_field:focus {
    border-color: #96c477;
}

.input_field.invalid {
    border-color: #ff654a;
}

#email_input:not(:placeholder-shown)#email_input:not(:focus)+label {
    top: 0%;
    left: 7%;
    background-color: #1f1f1f;
    color: #d2d2d2;
}

#email_input:not(:placeholder-shown)#email_input:not(:focus) {
    border-color: #96c477;
}

.toast_nsg {
    position: absolute;
    left: 8%;
    top: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.toast_nsg.active {
    margin-top: 0.5rem;
    opacity: 1;
}

.toast_nsg p {
    font-size: 0.8rem;
    color: #ff654a;
    margin-left: 0.3rem;
}

.toast_nsg.success p {
    color: #97e365;
}

.toast_nsg i {
    font-size: 1rem;
    color: #ff654a;
}

.toast_nsg.success i {
    color: #97e365;
}

.submit_btn {
    position: relative;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    cursor: pointer;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    border: none;
    outline: none;
    background-color: #eeeeee;
    transition: .1s ease-in-out;
}

.submit_btn:active {
    transform: scale(.95);
}